<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CMS Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <!--nav bootstrap-->
      <ul class="nav bg-dark">
        <li class="nav-item">
            <a class="nav-link active text-light" id="home" href='/'>Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" id="dashboard" href='/dashboard'>Dashboard</a>
        </li>
        
        {{#if loggedIn}}
        <li class="nav-item">
            <a class="nav-link text-light" id="logout" href='/'>Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a class="nav-link text-light" id="login" href='/login'>Login</a>
        </li>
        {{/if}}
        </ul>
        <!-- title navbar-->
        <nav class="navbar navbar-light bg-dark text-light">
            <span class="navbar-brand mb-0 h1 bg-light text-dark rounded-lg tech">Tech blog</span>
        </nav>
    </header>
    </div>
    
    <main>
      {{{ body }}}
    </main>
    
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>