<div class="card" id="new-post-form">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form>
    <div class="form-group">
      <div>
        <label for="post-title">Title</label>
      </div>
      <div>
        <input name="post-title" type="text" id="post-title" placeholder="">
      </div>
    </div>
    <div class="form-group">
      <div>
        <label for="content-post">Content</label>
      </div>
      <div>
        <input name="body-text" type="text" id="content-post" placeholder="">
      </div>
    </div>
    <div class="btn">
      <button type="submit">Create Post</button>
    </div>
  </form>
</div>

<script src="/javascript/create-post.js"></script>