<div class="card" id="new-post-form">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
    <form>
        <div class="form-group" >
            <label for="post-title">Title</label>
            <input name= "post-title" type="text" id="post-title" placeholder="Title here">
        </div>
        <div class="form-group">
            <label for="content-post">Content</label>
            <input name="body-text" type="text" id="content-post" placeholder="Content here">
        </div>
        <div>
            <button type="submit" class="btn">Create Post</button>
        </div>
    </form>
</div>

<script src="/javascript/create-post.js"></script>
