<form class='login-form'>
  <div>
    <label for="username-login">Username</label>
  </div>
  <div>
    <input type="text" id="username-login" placeholder="username">
  </div>
  <div>
    <label for="password-login">Password</label>
  </div>
  <div>
    <input type="password" id="password-login" placeholder="password">
  </div>
  <div class="btn">
      <button type="submit">Login</button>
  </div>
  <div>
      <a id="sign-up" href="/signup">Sign me up instead!</a>
  </div>
</form>

<script src="/javascript/login.js"></script>
