<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
  </div>
  <div>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
  </div>
  <div>
    <input type="password" id="password-signup" />
  </div>
  <div class="btn">
    <button type="submit">Sign up</button>
  </div>
</form>

<script src='/javascript/sign-up.js'></script>